[Desktop Entry]
Encoding=UTF-8
Name=Link to http://simmons-dev.mit.edu/officers/img/photos/photo.jpg
Type=Link
URL=http://simmons-dev.mit.edu/officers/img/photos/photo.jpg
Icon=image-jpeg
